/* 노말라이즈 */
html, body {
  margin:0;
  padding:0;
}

/* 알람 커스텀 */
.alarm {
  top:40.3%;
  left:23%;
  width:26%;
}

/* 영상 커스텀 */
.video-wrap {
  width:19.1%;
}

.video-intro {
  top:0.95%;
  left:16.3%;
}

.video-personal {
  top:64.65%;
  left:38.3%;
}

.video-sharing {
  top:72.65%;
  left:38.3%;
}

.video-diary {
  top:79.65%;
  left:33.3%;
}

/* 핸드폰 틀 커스텀 */
.phone {
  width:21.7%;
}

.main-phone {
  top:0.8%;
  left:15%;
}

.personal-phone {
  top:64.5%;
  left:37%;
}

.sharing-phone {
  top:72.5%;
  left:37%;
}

.diary-phone {
  top:79.5%;
  left:32%;
}

.slide-phone {
  bottom:8%;
  left:18.85%;
  z-index: 99;
}


/* 슬라이드 */

.slide {
  bottom:8.17%;
  left:0;
}


/* 별 커스텀 */

.star-1 {
  top:43%;
  right:0;
}

.star-2 {
  top:48%;
  left:15%;
}

.star-3 {
  top:50%;
  left:40%;
}

.star-4 {
  top:55.5%;
  left:20%;
}

.star-5 {
  top:53.5%;
  right:8%;
}

.star-6 {
  top:54%;
  right:0;
}

.star-7 {
  top: 62.5%;
  right:7%;
}

.star-8 {
  top:75%;
  right:3%;
}

.star-9 {
  top:74.5%;
  right:0;
}

.star-10 {
  top:80%;
  right:5%;
}

.star-11 {
  top:83.2%;
  left:13%;
}

.star-12 {
  top:83.8%;
  left:20%;
}

.star-13 {
  top: 58%;
  left:13%;
}

/* 별 사이즈 */
.star.lg > img {
  width:40%;
}

.star.md > img {
  width:30%;
}

.star.sm > img {
  width:20%;
}