html, body {
  margin:0;
  padding:0;
}

.alarm {
  top:40.3%;
  left:23%;
  width:26%;
}

.phone {
  bottom:8%;
  left:18.85%;
  width:21.7%;
  z-index: 99;
}

.slide {
  bottom:8.17%;
  left:0;
}

.star-1 {
  top:43%;
  right:0;
}

.star-2 {
  top:48%;
  left:15%;
}

.star-3 {
  top:50%;
  left:40%;
}

.star-4 {
  top:55.5%;
  left:20%;
}

.star-5 {
  top:53.5%;
  right:8%;
}

.star-6 {
  top:54%;
  right:0;
}

.star-7 {
  top: 62.5%;
  right:7%;
}

.star-8 {
  top:75%;
  right:3%;
}

.star-9 {
  top:74.5%;
  right:0;
}

.star-10 {
  top:80%;
  right:5%;
}

.star-11 {
  top:83.2%;
  left:13%;
}

.star-12 {
  top:83.8%;
  left:20%;
}

.star-13 {
  top: 58%;
  left:13%;
}

/* 별 사이즈 */
.star.lg > img {
  width:40%;
}

.star.md > img {
  width:30%;
}

.star.sm > img {
  width:20%;
}